.header{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    justify-content: center;
    width: 100vw;
    
}

.title {
    grid-column: 3;
    grid-row: 1;
    text-align: center;
}
.log-out  {
    margin-left: auto;
    grid-column: 5;
    grid-row: 1;
}

.container {
    display:flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
}

.dealer-area {
    display: grid;
    width:50%;
    grid-template-rows: 1fr 2.5fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

.player-area {
    display: grid;
    grid-template-rows: 1fr 2fr  .125fr 1.875fr;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    width: 50%;
}

.player-card {
    grid-row: 2;
}

.player-card-split {
    grid-row: 4;
}

.dealer-card {
    grid-row: 2;
}

.dealer {
    margin-left: 0;
}

.you {
    margin-left: 0;
}

.chips {
    grid-row:1;
    grid-column: 5;
    text-align: left;
    margin: 50px 30px 0px 0px;
}

.buttons  {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}

button {
margin: 30px 15px 0px 15px;
}

.hit {
    grid-column:1;

}

.stand {
    grid-column:2;
}

.split {
    grid-column:3;
}

.bet {
    grid-column:4;
    grid-row: 2;
}

.bet-amount{
    grid-column:4;
    margin: 30px 15px 0px 15px;
}

.card-sum {
    grid-column: 2;
    margin: 50px 20px 0px 20px;
    text-align: left;
}

.card-sum-split {
    grid-column: 2;
    grid-row: 3;
    text-align: left;
}

.double-down {
    grid-row: 2;

}

.reset-chips {
    grid-row: 2;

}

.insurance {
    grid-row: 2;
}

.no-insurance {
    grid-row: 2;

    
}

.leaderboard {
    grid-column: 1;
}

.leaderboard-section {
    width: 50%;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 3fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.leaderboard-title {
    grid-column:2/4;
}

.username {
    grid-row: 2;
    margin: 15px;
}
.leaderboard-chips {
    grid-row: 2;
    grid-column: 2;
    margin: 15px 15px 15px 75px;
}

.username-leaderboard {
    grid-column: 1;
    margin: 15px;
}
.chip-count-leaderboard {
    grid-column: 2;
    margin: 15px 15px 15px 75px;
}
.rules {
    grid-column: 4;
    text-align: right;
}