<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Blackjack</title>
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="leaderboard"><a href="/leaderboard">Leaderboard</a></h1>
            <h1 class="rules"><a href="https://bicyclecards.com/how-to-play/blackjack/" target="_blank">Rules</a></h1>
            <h1 class="title"><a href ="/">Blackjack</a></h1>
            <h1 class="log-out"><a href="/logout">Log Out</a></h1>
        </header>
        
        <div class="dealer-area">
            <h1 class="dealer">Dealer</h1>
        </div>
        <div class="info-area">
            <h3 class="result">You Win!</h3>
        </div>
        <div class="buttons">
            <button class="hit">Hit</button>
            <button class="stand">Stand</button>
            <button class="split">Split</button>
            <input class="bet-amount" type="number">
            <button class="bet">Bet</button>
            <button class="reset-chips">Reset Chips</button>
            <button class="insurance">Insurance</button>
            <button class="no-insurance">No Insurance</button>
            <button class="double-down">Double Down</button>
            
        </div>
        <div class="player-area">
            <h1 class="you">You</h1>
            <h3 class="card-sum"></h3>
            <h3 class="card-sum-split"></h3>
            <h3 class="chips">Chips: 5000</h3>
            
        </div>
    </div>
</body>
<script src="/js/dealer.js"></script>
<script src="/js/main.js"></script>
</html>