<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leaderboard</title>
    <link rel="stylesheet" href="/css/layout.css">
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <header class="header">
            <h1 class="leaderboard"><a href="/leaderboard">Leaderboard</a></h1>
            <h1 class="rules"><a href="https://bicyclecards.com/how-to-play/blackjack/" target="_blank">Rules</a></h1>
            <h1 class="title"><a href ="/">Blackjack</a></h1>
            <h1 class="log-out"><a href="/logout">Log Out</a></h1>
        </header>
        <div class="leaderboard-section">
            <h1 class="leaderboard-title">Leaderboard</h1>
            <h3 class="username">Username</h3>
            <h3 class="leaderboard-chips">Chips</h3>
            
        </div>
    </div>
</body>
<script src="/js/leaderboard.js"></script>
</html>